/*** PRODUCT GRID ***/
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  background-color: #fff;
  padding: 30px;
  gap: 1.5rem;
}

.product-item {
  background-color: var(--bg-light);
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease;
}

.product-item:hover {
  background-color: var(--bg-light-hover);
}

/*** EMPTY PRODUCT VIEW ***/
#no-product {
  text-align: center;
  margin: auto;
  padding-top: 10%;
}

#no-product p {
  margin: 0;
  font-size: 35px;
}

/*** SORT DROPDOWN ***/
#selectSort {
  border-radius: var(--border-radius);
  padding: 5px;
}

/*** CHECKBOX ***/
.delete-checkbox {
  height: 20px;
  width: 20px;
  position: relative;
  left: 40%;
}

/*** MOBILE ***/
@media only screen and (max-width: 450px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding: 30px 15px;
    gap: 10px;
  }

  .product-item {
    font-size: 14px;
  }
}
