.main-container {
  max-width: 1276px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*** LAYOUT ***/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: var(--text-light);
  background-color: var(--color-primary);
  z-index: 10;
}

.header-inner {
  max-width: 1276px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto auto;
}

.header-main {
  font-size: 12px;
}

.header-left {
  text-align: left;
  padding-left: 40px;
}

.header-right {
  text-align: right;
  padding-top: 15px;
  padding-right: 13%;
}

.header-sort {
  text-align: right;
  padding-right: 8%;
}

/*** BUTTONS ***/
.button {
  background-color: var(--color-secondary);
  border: 1px solid transparent;
  color: var(--text-color);
  padding: 10px 25px;
  margin-left: 10px;
  font-size: 14px;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.button:hover {
  cursor: pointer;
}

/*** MESSAGE BOX ***/
.message {
  display: block;
  width: 350px;
  margin: 80px auto 0 auto;
  font-size: 18px;
  text-align: center;
}

.message-success p {
  background-color: var(--bg-success);
  padding: 10px;
  border-radius: var(--border-radius);
}

.message-error p {
  background-color: var(--bg-error);
  padding: 10px;
  border-radius: var(--border-radius);
}

/*** FOOTER ***/

.footer {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--text-light);
  padding: 15px 0;
  margin-top: auto;
}

.footer-inner {
  max-width: 1276px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.footer-text {
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
}

/*** MOBILE ***/
@media only screen and (max-width: 450px) {
  .header {
    grid-template-columns: auto;
  }

  .header-left {
    display: none;
  }
}
