/*** PAGE BACKGROUND ***/
body {
  background-color: #f2f2f2;
}

/*** FORM FIELDS ***/
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  text-align: center;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

/*** FORM WRAPPER ***/
.form-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 350px;
  margin: 20px auto;
}

.form-container .grid-item {
  display: block;
}

.form-container label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  text-align: left;
  color: var(--text-color);
}

/*** DYNAMIC FIELD DESCRIPTION ***/
.product-type-desc {
  background-color: var(--bg-error);
  color: var(--text-color);
  font-style: italic;
  text-align: center;
  font-size: medium;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: var(--border-radius);
}

.form-container .grid-item,
#DVD,
#Book,
#Furniture {
  margin-bottom: 16px;
}

/*** HIDDEN TYPE BLOCKS ***/
#DVD,
#Book,
#Furniture {
  display: none;
}

#DVD input,
#Book input,
#Furniture input {
  margin-bottom: 14px;
  display: block;
}

/*** MOBILE ***/
@media only screen and (max-width: 450px) {
  .form-container {
    width: 250px;
    row-gap: 12px;
    margin: 14px auto;
  }

  .product-type-desc {
    padding: 6px;
  }
}
